@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  overflow: hidden;
  background-color: beige;
  color: white;
  width: 100%;
  padding: 32px 24px;
  min-height: 100vh;
  font-family: 'Roboto', 'Open-Sans', sans-serif;
  background: linear-gradient(to bottom, rgb(43, 50, 178) 0%, rgb(20, 136, 204) 80%);
}

.App > * {
  width: 100%;
}

@media screen and (min-width: 480px) and (orientation: portrait) {
  .App {
    padding: 40px 32px;
  }
}
