.location {
  width: 100%;
}
.location > * {
  width: 100%;
}
.location--city-country {
  margin-bottom: 8px;
  font-size: 1.8rem;
  display: inline-block;
  text-transform: capitalize;
  font-weight: bold;
}
.location--date {
  font-size: 1rem;
}
